:root {
    --cor-primaria: rgb(201, 200, 207);
    --cor-secundaria: #f4a261;
    --cor-destaque1: #264653;
    --cor-destaque2: #e9c46a;
    --fonte-titulo: "Times New Roman", Georgia, serif;
    --fonte-body: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--cor-primaria);
    font-family: var(--fonte-body);
    color: var(--cor-destaque2);
}

body {
    font-family: var(--fonte-body);
    color: var(--cor-destaque1);
}

header, main, footer {
    max-width: 840px;
    margin: 0 auto;
}

h1, h2{
    font-family: var(--fonte-titulo);
    color: var(--cor-primaria);
    text-align: center;
} 

nav a {
    display: block;
}

nav, p, section, article {
    padding: 16px;
    margin: 8px;
}


.socialmedia a {
    text-decoration: none;
    background-color: var(--cor-destaque1);
    padding: 8px;
    border-radius: 10px;
}

.redes-sociais{
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20%;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--cor-destaque1);
    color: #ffffff;
}

.hero article {
    position: absolute;
    top: 380px;
    left: 40px;
    width: 90%;

    background-color: var(--cor-secundaria);
    padding: 16px;
    opacity: 0.9;
    color: #683838;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 16px;
}

